name: Deploy Main Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Load Node (NVM) environment
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh

            # 2. Stop current site to free up RAM
            pm2 stop portfolio || true

            # 3. Go to folder and update code
            cd ~/portfolio
            git pull origin main
            
            # 4. Install & Build
            npm install
            npm run build
            
            # 5. Serve the 'dist' folder on Port 3000
            # --spa handles routing for Astro
            pm2 delete portfolio || true
            pm2 serve dist/ 3000 --name "build.srivatsa" --spa
            pm2 save