name: Deploy Main Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh

            # 1. Stop the current process (using the new name)
            pm2 stop build_srivatsa || true

            # 2. Go to the CORRECT folder
            cd ~/build_srivatsa
            
            # 3. Get latest code
            git pull origin main
            
            # 4. Install & Build
            npm install
            npm run build
            
            # 5. Serve using the new name
            pm2 delete build_srivatsa || true
            pm2 serve dist/ 3000 --name "build_srivatsa" --spa
            
            pm2 save
           